TrabajoFinal
WorkingNotes
__pycache__
combi_2/keras_tuner_dir
logs
data
docs
*.json
*.zip
*.npy
*.pyo
*.log
*.csv
*.png
.uv
keras*/
cc.es.300.bin
fasttext_es.kv
combi_2
only_audio_2
only_text_2
mejoras.md
notas.md
reunion.md
.env
scripts/.fusion_utils.py
commands
trans_audio_npy.py
trans_audio_npy_ref.py
trans_fasttext_embeddings.py
trans_mfccs.py
trans_mfccs_ref.py
trans_roberta.py
trans_word2vec_embeddings.py
vec_utils.py
verify_fasttext_embeddings.py
verify_roberta.py
verify_word2vec_embeddings.py
