TrabajoFinal
WorkingNotes
__pycache__
combi_2/keras_tuner_dir
logs
data
docs
*.json
*.zip
*.npy
*.pyo
*.log
*.csv
*.org
*.org_archive
*.png
.uv
keras*/
cc.es.300.bin
fasttext_es.kv
combi_2
only_audio_2
only_text_2
mejoras.md
notas.md
reunion.md
.env
scripts/.fusion_utils.py
commands
og_trans
train_scripts/.fusion_utils.py
main.ipynb
best_combi.ipynb
SatiSPeech2025Baseline.ipynb
SatiSPeech2025Submission.ipynb
train_scripts/idx.txt
analisis.md
train_audio.sh
